@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
* {
  font-family: 'Raleway';
  letter-spacing: 3px; }

a {
  text-decoration: none;
  color: inherit; }

body {
  margin: 0;
  padding: 0; }

.test {
  font-size: 5em;
  color: red; }

.logo {
  position: fixed;
  left: 5px;
  top: 5px;
  transform: rotate(180deg);
  width: 50px;
  transition: opacity 200ms;
  display: none; }

.logo:hover {
  opacity: 0.3; }

.nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(87, 87, 87, 0.88);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 99;
  transition: all 200ms; }

.mobileNav {
  height: 100vh;
  flex-direction: column;
  justify-content: space-around; }

.links:active, .links:visited {
  text-decoration: none;
  color: inherit; }

.links {
  text-decoration: none;
  color: redrgb(153, 149, 102);
  margin: 2%;
  font-size: 1.4em;
  transition: all 500ms; }
  @media (max-width: 700px) {
    .links {
      opacity: 0; } }
  .links:hover {
    color: blue; }

.links:hover {
  text-decoration: none;
  color: #c9c9c9;
  border-bottom: 1px solid white;
  transform: scale(1.2); }

.links:focus {
  text-decoration: none;
  color: white; }

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../img/alley.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/*.innerHero {
  text-align: center;
  width: 40%;
  height: 40%;
  background-color: rgba(122, 122, 122, 0.78);
  padding: 3%;
  color: rgb(224, 224, 224);
  margin: 5%;
  font-size: 3em;
}*/
.heroButton {
  border: none;
  background-color: rgba(193, 181, 122, 0.88);
  color: white;
  font-size: 1em;
  width: 100px;
  height: 50px;
  transition: all 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%; }

.heroButton:hover {
  background-color: rgba(198, 198, 198, 0.6);
  color: #5d5575;
  text-decoration: none; }

.heroButton:visited {
  text-decoration: none;
  color: inherit; }

.heroTitle {
  font-size: 3em; }

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1%; }

.arrow {
  opacity: 0;
  transition: opacity 800ms;
  color: white;
  height: 75px; }

.heroButton:hover ~ .arrow {
  opacity: 1; }

.story, .about, .contact {
  margin-top: 10%; }

.icons {
  width: 100px; }

.footer {
  height: 150px;
  width: 100%;
  background-color: #525252;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.footerItems {
  margin: 5%; }

.buttonHover {
  border: none; }

.buttonHover:hover {
  background-color: #e7e7e7; }

.storyContent {
  padding: 8%; }

.line {
  border-bottom: solid #8b8b8b 1px;
  width: 80%;
  margin: 2% auto; }

p {
  font-size: 1.2em; }

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.heroTitle {
  font-size: 2em;
  color: white;
  letter-spacing: 4px; }

.heroSubTitle {
  font-size: 1.3em;
  color: #d6d6d6;
  margin-bottom: 3%; }

.logoHero {
  width: 300px;
  margin-top: 3%;
  filter: invert(100%); }
  @media (max-width: 700px) {
    .logoHero {
      width: 300px; } }

.titleContainer {
  background-color: rgba(45, 45, 45, 0.8);
  color: white;
  text-align: center;
  padding: 2px; }

.story {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 8%; }

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 8%; }

.hamburger {
  color: white;
  font-size: 3em;
  text-decoration: none;
  display: none;
  transition: all 200ms; }
  .hamburger:hover {
    transform: scale(1.2);
    color: lightgray; }
  @media (max-width: 700px) {
    .hamburger {
      display: block; } }

.show {
  opacity: 1;
  font-size: 2em; }

.off {
  display: none;
  font-size: 5em; }

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  margin: 2%; }

.sections {
  margin: 3%;
  border-bottom: 1px solid grey; }

.storyImg {
  width: 435px;
  height: 100%;
  margin: 2%;
  float: left; }
  @media (max-width: 700px) {
    .storyImg {
      width: 300px; } }

.imgWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 1%;
  border-bottom: 1px solid grey; }

.hashtags {
  font-weight: bold;
  font-size: 1.3em; }

.bold {
  font-size: 1.5em;
  font-style: italic; }

h1 {
  margin: 5%; }

.location {
  text-align: center; }

.boldFont {
  font-weight: bold; }

.instaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.contact {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  align-items: center;
  width: 200px;
  justify-content: space-between; }

input {
  width: 150px;
  border: solid 1px black;
  height: 35px; }

textarea {
  width: 200px;
  border: solid 1px black;
  height: 100px; }

input:focus {
  outline: solid 3px #949494; }

textarea:focus {
  outline: solid 3px #949494; }

button {
  width: 100px;
  height: 50px;
  color: #c1c1c1;
  background-color: #525252;
  border: none;
  font-size: 1.1em;
  transition: all 200ms; }

button:hover {
  color: black;
  background-color: #e0e0e0; }

/*# sourceMappingURL=main.css.map */
